<div class="row">
  <div class="col 3 teal lighten-2">
  <form action="/reports" method="POST">
    <label for="incident_type">Incident Type</label>
    <select name="report[incident_type]">
      <option value="crime">Crime</option>
      <option value="fire">Fire</option>
      <option value="accident">Auto Accident</option>
      <option value="medical">Medical</option>
      <option value="other">Other</option>
    </select>

    <label for="description">Description</label>
    <textarea type="text" name="report[description]"></textarea>

    <label for="department">Department</label>
    <select name="report[department]">
      <option value="police">Police</option>
      <option value="fire_department">Fire Department</option>
      <option value="bomb_squad">Bomb Squad</option>
      <option value="swat_team">Swat Team</option>
    </select>
    <input type="submit" value="Publish">
  </form>
  </div>
</div>
